\documentclass{article}

\usepackage{listings}

\usepackage[a4paper, margin=0.8in]{geometry}

\title{Recipes}
\author{Sergio Clemente Filho}
\date{\today}

\begin{document}

\maketitle

\newpage

\tableofcontents{}

\newpage

\section{Flavor Profiles}
\begin{itemize}
	\item Sweet
	\item Sour
	\item Salty
	\item Spicy
	\item Bitter
\end{itemize}

	\section{Ratios}
\begin{itemize}
	\item Ratio of oil to vinegar: 4/1 or 2/1 to more sour resistants.
\end{itemize}

\section{General Tips}
\begin{itemize}
	\item Cut perpendicular to the fiber to maximize tenderness (Meats)
\end{itemize}

((* macro render_block(block, label, items) *))((* if items|length > 0 *))
((* if label *))
\paragraph{((( block ))) ((( '(' )))((( label )))((( ')' ))):}((* else *))
\paragraph{((( block ))):}((* endif *))
\begin{itemize}((* for item in items *))
    \item ((( item )))((* endfor *))
\end{itemize}((* endif *))((* endmacro *))

((* macro render_recipe(recipe, content) *))

\subsection{((( recipe )))}((* if content.ingredients.__class__.__name__ == 'list' *))((( render_block('Ingredients', None, content.ingredients) )))((( render_block('Directions', None, content.steps) )))((* else *))((* for group, items in content.ingredients.items() *)) ((( render_block('Ingredients', group, items) ))) ((* endfor *))((* for group, steps in content.steps.items() *)) ((( render_block('Directions', group, steps) ))) ((* endfor *))((* endif *))((* if content.notes *))((( render_block('Notes', None, content.notes) )))((* endif *))((* endmacro *))

((* for section, recipes in data.items() *))
\section{((( section )))}
((* for recipe, content in recipes.items() *))((( render_recipe(recipe, content) )))((* endfor *))
((* endfor *))

\end{document}
